@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


:root {
    --font1 :'DM Serif Display', serif;
    --font2 :'Karla', sans-serif;
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body {
    font-size: var(--font2);
}

.header-ilustracion-mobile{
    width: 100%;
    vertical-align: middle;
}
.header-ilustracion-desktop{
    display: none;
}

.header-texto{
    background-color: var(--Dark-Violet);
    padding: 70px 30px;
    text-align: center;

}


.header-texto .titulo {
    font-size: 2.7em;
    font-family: var(--font1);
    color: var(--Very-Light-Gray);
    font-weight: 700;
    position: relative;
    z-index: 10;
}
.header-texto .parrafo {
    font-size: 16px;
    font-family: var(--font2);
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 2em;
    color: var(--Very-Light-Gray);
}
.btn {
    display: inline-block;
    border: 2px solid currentColor;
    border-radius: 1px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font2);
    font-weight: 700;
    color: var(--Very-Light-Gray);
}
.main{
    padding: 110px 20px;
}
.seccion__diferente {
    text-align: center;
}

.linea {
    width: 100px;
    height: 1px;
    background: #000;
    margin: auto;
}

.seccion__diferente .sub-titulo{
    text-align: center;
    font-size: 2.8em;
    color: var(--Very-Dark-Violet);
    letter-spacing: 0px;
    font-family: var(--font1);
}
.contenedor__card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card .titulo{
    font-family: var(--font1);
    font-weight: 400;
    color: var(--Very-Dark-Violet);
}
.card .parrafo {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 20px;
    color: var(--Dark-Grayish-Violet);
    font-weight: 600;
}

.seccion__trabaja {
    background: var(--Dark-Violet);    
    padding: 60px 30px;
    text-align: center;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 100px;
}
.seccion__trabaja .titulo {
    font-size: 2.5em;
    font-family: var(--font1);
    color: var(--Very-Light-Gray);
    font-weight: 400;
    margin-top: 0;
}

.footer {
    padding: 90px 20px;
    padding-bottom: 50px;
    background: var(--Very-Light-Gray);
    position: relative;
}

.footer__imagen{
    text-align: center;
    border-bottom: 1px solid;
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.5em 0;
    gap: 20px;
}

.footer__texto {
    font-family: var(--font2);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.footer__texto-secciones{
    text-transform: uppercase;
    color: var(--Very-Dark-Violet);
    font-size: 15px;
}

.footer__texto .gris{
    color: var(--Dark-Grayish-Violet);
    margin-bottom: 40px;
}


@media screen and (max-width:500px){

    .nav {
        padding: 30px;        
    }

    .nav__imagen {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__enlaces {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: var(--Very-Dark-Violet);
        padding: 50px 20px;
        flex-direction: column;
        gap: 30px;
        display: none;
    }
    .nav__enlaces .link {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-family: var(--font2);
        font-size: 17px;
        color: var(--Very-Light-Gray);
    }
    .nav__enlaces .link-blanco {
        border: 2px solid var(--Very-Light-Gray);
        padding: 15px;
    }
    .header__contenido {
        position: relative;
    }
    .header__contenido .bg-mobile {
        position: absolute;
    }
    
    .header__contenido .bg-mobile-left {
        left: 0;
    }
    .header__contenido .bg-mobile-right {
        right: 0;
        bottom: -180px;
    }
    .footer .bg-mobile {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
    }
    .nav__imagen-close{
        display: none;
    }
        
    .nav__active .nav__imagen-close {
        display: block;
    }
    .nav__active .nav__imagen-hamburger {
        display: none;
    }
    .nav__active {
        overflow: hidden;
    }
    .nav__active .nav__enlaces {
        display: flex;
    }
    .nav__enlaces .bg-mobile{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100% ;
    }
    .linea-blanco {
        display: none;
    }
}

@media screen and (min-width:700px){
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
    }
    .nav__enlaces {
        display: inline-flex;
        align-items: center;
        gap: 35px;
    }
    .nav__enlaces .link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--font2);
        font-weight: 700;
        color: var(--Dark-Grayish-Violet);
    }
    .nav__enlaces .link-negro {
        color: var(--Very-Dark-Violet);
        border: 2px solid currentColor;
        padding: 10px 25px;
    }
    .bg-mobile{
        display: none;
    }
    .nav__imagen-hamburger{
        display: none;
    }
    .nav__imagen-close{
        display: none;
    }
    .header-ilustracion-mobile {
        display: none;
    }
    .header-ilustracion-desktop{
        display: block;
        position: absolute;
        right: 100px;
        top: 100px;
    }   
    .header__contenido {
        padding: 50px 100px;
        display: flex;
        flex-direction: row;
        background: var(--Dark-Violet);
        position: relative;
    }
    .header-texto {
        width: 50%;
        text-align: left;
        background: none;
    }
    .header-texto .titulo{
        width: 75%;
        font-size: 3.5em;
    }
    .linea-blanco{
        background: #fff;
        margin: 0;
        width: 150px;
    }
    .header-texto .parrafo{
        width: 90%;
    }

    .main{
        padding: 250px 100px;
        padding-bottom: 150px;
    }
    .seccion__diferente .sub-titulo{
        text-align: left;
        font-size: 4em;
        font-weight: 400;
    }
    .linea {
        margin: 0;
        width: 150px;
    }
    .contenedor__card {
        flex-direction: row;
        margin: 100px 0;
    }
    .contenedor__card .card {
        text-align: left;
    }
    .card .parrafo {
        text-align: left;
        font-size: 15px;
    }

    .seccion__trabaja {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 60px 90px;
        background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    }
    .seccion__trabaja .titulo {
        width: 50%;
        text-align: left;
        font-size: 3.4em;
        margin: 0;
    }
    .footer {
        padding: 50px 100px;
    }
    .footer__imagen{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor__footer-texto{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 200px;
    }
    .footer__texto {
        text-align: left;
    }

}
