@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


:root {
    --font1 :'DM Serif Display', serif;
    --font2 :'Karla', sans-serif;
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: var(--font1);
}

.nav {
    padding: 30px 20px;
}
.nav__imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}    
.desktop {
    display: none;
}
.nav__imagen-close{
    display: none;
}

.link-blanco {
    border: 2px solid currentColor;
}

.header-ilustracion-mobile{
    vertical-align: middle;
    width: 100%;
}

.header__contenido {
    background: var(--Dark-Violet);
    position: relative;
}

.header__contenido .bg-mobile-left{
    position: absolute;
    left: 0;
}

.header__contenido .bg-mobile-right {
    position: absolute;
    bottom: -170px;
    right: 0;
}

.header-texto {
    padding: 100px 20px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.header-texto .titulo{
    font-size: 3em;
    color: var(--Very-Light-Gray);
    margin-top: 0;
    font-weight: 400;

}
.header-texto .parrafo {
    font-size: 17px;
    margin-bottom: 2em;
    font-family: var(--font2);
    line-height: 25px;
    color: var(--Very-Light-Gray);
}
.btn {
    border: 2px solid currentColor;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Very-Light-Gray);
    font-weight: 700;
    font-family: var(--font2);
}
.main {
    padding: 100px 20px;

}

.seccion__diferente .sub-titulo {
    text-align: center;
    font-size: 3em;
    color: var(--Very-Dark-Violet);
    font-weight: 400;
}


.contenedor__card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}

.card .titulo{
    font-weight: 400;
    font-family: var(--font1);
}
.card .parrafo {
    font-size: 17px;
    color: var(--Dark-Grayish-Violet);
    font-family: var(--font2);
}

.seccion__trabaja {
    background: var(--Dark-Violet);
    padding: 60px 20px;
    text-align: center;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin: 50px 0;
}
.seccion__trabaja .titulo {
    font-size: 2.7em;
    margin-top: 0;
    color: var(--Very-Light-Gray);
    font-weight: 400;
    margin-bottom: 1em;
}


.nav__active {
    overflow: hidden;
}
.nav__active .nav__enlaces {
    display: block;
}

.nav__active .nav__imagen-hamburger{
    display: none;
}
.nav__active .nav__imagen-close {
    display: block;
}

.footer{
    padding: 100px 20px;
    background: var(--Very-Light-Gray);
    position: relative;
}

.footer .bg-mobile  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.footer__imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--Dark-Grayish-Violet);
    position: relative;
    z-index: 10;
}
.footer__imagen .redes {
    display: inline-flex;
    gap: 20px;
}
.contenedor__footer-texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}
.footer__texto {
    font-family: var(--font2);
    text-transform: uppercase;
    text-align: center;
}
.footer__texto-secciones{
    color: var(--Very-Dark-Violet);
    font-weight: 700;
}
.footer__texto .gris {
    color: var(--Dark-Grayish-Violet);
    margin-bottom: 20px;
}


@media screen and (max-width:500px){

    .header-ilustracion-mobile {
        display: none;
    }
    .header-ilustracion-desktop {
        display: block;
        width: 100%;
    }
    .nav__enlaces{
        position: absolute;
        background: var(--Very-Dark-Violet);
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90;
        padding: 50px 20px;
        display: none;
    }
    .nav__enlaces .bg-mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .nav__enlaces .link {
        display: block;
        text-align: center;
        padding: 20px 0;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--Very-Light-Gray);
        font-family: var(--font2);
        font-weight: 700;
        font-size: 17px;
    }
}



@media screen and (min-width:1100px){
    
    .nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px 50px;
    }

    .nav__enlaces {
        display: inline-flex;
        align-items: center;
        gap: 40px;
    }
    .nav__enlaces .link{
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--font2);
        font-weight: 700;
        color: var(--Dark-Grayish-Violet);
    }
    .nav__enlaces .link-negro {
        border: 2px solid currentColor;
        padding: 10px 25px;
        color: var(--Dark-Violet);
    }

    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .header__contenido {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 80px 50px;
    }
    .header-ilustracion{
        width: 50%;
        position: relative;
    }  
    .header-ilustracion-desktop {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .header-texto {
        width: 50%;
        text-align: left;
    }
    .header-texto .titulo {
        width: 90%;
        font-size: 4.5em;
        line-height: 70px;
        margin-top: 0;
    }
    .header-texto .parrafo {
        width: 95%;
    }

    .main{
        padding: 200px 50px;
        padding-bottom: 100px;
    }

    .seccion__diferente {
        text-align: left;
    }
    .seccion__diferente .sub-titulo {
        text-align: left;
        font-size: 4em;
    }
    .contenedor__card {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 70px;
    }
    .card {
        width: 100%;
        text-align: left;
        max-width: 350px;
    }
    .seccion__trabaja{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px;
        background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
    .seccion__trabaja .titulo {
        font-size: 3.5em;
        width: 45%;
        text-align: left;
        margin: 0;
    }

    .footer {
        padding: 100px 50px ;
    }

    .footer__imagen {
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor__footer-texto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer__texto {
        width: 100%;
        max-width: 300px;
        text-align: left;
    }
    .footer__texto .gris {
        margin-bottom: 40px;
    }
    .btn:hover{
        background: var(--Very-Light-Gray);
        color: var(--Dark-Violet);
    }
    .nav__enlaces .link:hover {
        color: var(--Dark-Violet);
    }
    .nav__enlaces .link-negro:hover{
        background: var(--Dark-Violet);
        color: var(--Very-Light-Gray);
    }

}
